<ion-header class="header" dir="{{direcR}}" no-border>

    <ion-navbar color="darkprimary">
 
        <ion-buttons style="display: flex; direction: row;" end>
          <button ion-button icon-only>
            <ion-badge color="danger" *ngIf="mainFunc.getCartItemsNumber()" item-end>{{mainFunc.getCartItemsNumber()}}</ion-badge>
            <ion-icon name="md-cart" *ngIf="this.mainFunc.manuno8 == false"></ion-icon>
          </button>
          <span *ngIf="this.platform.dir() === 'rtl' && this.mainFunc.manuno8 == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </ion-buttons>
        <ion-title text-center>{{catName}}</ion-title>
        
            <!-- <div>&nbsp;&nbsp;&nbsp;</div> -->
          
        
      </ion-navbar>
  <ion-toolbar class="toolbars" color="borderColor">
    <div class="toolBar">
      <div (tap)="showSortingActionSheet()" class="toolSorting">
        <p>{{ 'CAT_SORT' | translate:param }}&nbsp;&nbsp;</p>
        <img src="assets/icon/itemSorting.png">
      </div>
      <div (tap)="changeViewMode()" class="toolShowType">
        <p>{{ 'CAT_SHOW_STYLE' | translate:param }}&nbsp;&nbsp;</p>
        <img *ngIf="isGrid" src="assets/icon/itemShowGrid.png">
        <img *ngIf="!isGrid" src="assets/icon/itemShowMenu.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content dir="{{direcR}}">

  <div class="slideScrolls" [class.slideScrollsList]="!isGrid" dir="{{direcR}}">
    <div class="itemScroll" [class.itemScrollList]="!isGrid" *ngFor="let item of bestrecommended; let i = index" dir="{{direcR}}">
      <div (tap)="openItemDetails(item.id)" [class.class1]="!isGrid">
        <div class="itemScrollImage" [class.itemScrollImageList]="!isGrid"><img [src]="item.image"></div>
        <div [class.class2]="!isGrid">
          <div class="itemScrollName" [class.itemScrollNameList]="!isGrid">{{item.name}}</div>
          <!-- <div class="itemScrollPrice" [class.itemScrollPriceList]="!isGrid">{{item.price | number}} جنيه</div> -->
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <div class="footerz" *ngIf="!isDataAvilable">
    <img src="assets/img/nodata.png">
  </div>
  <div class="footerz" *ngIf="!bestrecommended?.length > 0 && isDataAvilable">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
