<!--
  Generated template for the ItemDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header"  dir="{{direc}}" no-border>

  <ion-navbar color="darkprimary">
    <ion-buttons style="display: flex; direction: row;" end>
      <button ion-button start>
          <ion-badge color="danger" *ngIf="mainFunc.getCartItemsNumber()" item-end>{{mainFunc.getCartItemsNumber()}}</ion-badge>
          <ion-icon name="md-cart" *ngIf="this.mainFunc.manuno8 == false"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span class="des" style="border: 0px;" [innerHTML]="name"> {{ name }}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <!-- <div class="sliderDiv" dir="ltr">
      <ion-slides speed="500" loop="true" spaceBewteen = "15" pager class="slider">
          <ion-slide *ngFor="let sl of slides_list; let i = index">
            <div class="img-container" (click)="openImage(sl.url.full)">
              <img [src]="mainFunc.encoder(sl.url.full)">
            </div>
          </ion-slide>
      </ion-slides> 
    </div> -->
    
    <img class="imgMainDetails" [src]="imageMain" onError="this.src='assets/img/course_img_not_avilable.png';"/>

    <div class="pageTitle" style="font-weight: bold;" *ngIf="this.platform.dir() === 'rtl'">{{ allData.name_ar }}</div>
    <div class="pageTitle" style="font-weight: bold;" *ngIf="this.platform.dir() === 'ltr'">{{ allData.name_en }}</div>
    <div class="pageTitleDate"> {{ allData.start_date | date : "dd MMM y" }} </div>
    
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-calendar'></ion-icon>
           <div style="color: #555555;">{{ allData.start_date | date : "dd MMM y" }} |  {{ allData.end_date | date : "dd MMM y" }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-globe'></ion-icon>
          <div style="color: #555555;">{{ allData.location }}</div>
        </button>
      </ion-col>
      <ion-col *ngIf="allData.level">
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-stats'></ion-icon>
          <div style="color: #555555;">{{ allData.level }}</div>
        </button>
      </ion-col>
    </ion-row>


    <div class="classCol">
      <div class="classRow">
        <div>
          <!-- <ion-icon color="blue" name="md-map">   {{ allData.location }}   </ion-icon> -->
        </div>
      </div>
    </div>
    <div class="titleDiv"  dir="{{direc}}">
      <span *ngIf="this.platform.dir() === 'rtl'" class="des" style="border: 0px;" [innerHTML]="allData.description_ar"> {{ allData.description_ar }}</span>
      <span *ngIf="this.platform.dir() === 'ltr'" class="des" style="border: 0px;" [innerHTML]="allData.description_en"> {{ allData.description_en }}</span>
    </div>

    
    <!-- Gallery Code -->
   

    <!-- <ion-segment [(ngModel)]="galleryType" color="primary">
      <ion-segment-button value="regular">
        Regular
      </ion-segment-button>
      <ion-segment-button value="pinterest">
        Pinterest
      </ion-segment-button>
    </ion-segment> -->
    
    <!-- <div [ngSwitch]="galleryType"> -->
      <!-- Responsive Layout with Ion Grid-->
      <!-- <ion-grid *ngSwitchCase="'regular'">
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of [1,2,3,4]">
            <div class="image-container" [style.background-image]="'url(assets/img/brand/brand_img' + image + '.png)'"></div>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- More Pinterest floating gallery style -->
      <div class="pageTitle" *ngIf="allData.gallery?.length > 0">
          {{ 'COURSE_GALLERY' | translate:param }}
      </div>
      <div class="images" padding>
        <div class="one-image" *ngFor="let image of allData.gallery">
          <!-- <img src="assets/img/brand/brand_img{{image}}.png"> -->
          <img [src]="image.url.thumb">
        </div>
      </div>
    
      <!-- More Pinterest floating gallery style -->
    
    <!-- </div> -->
    
</ion-content>
