<ion-header class="header"  dir="{{direc}}" no-border>

  <ion-navbar color="darkprimary">
    <ion-buttons style="display: flex; direction: row;" end>
      <button ion-button start>
          <ion-badge color="danger" *ngIf="mainFunc.getCartItemsNumber()" item-end>{{mainFunc.getCartItemsNumber()}}</ion-badge>
          <ion-icon name="md-cart" *ngIf="this.mainFunc.manuno8 == false"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span class="des" style="border: 0px;" [innerHTML]="name"> {{ name }}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    
    <img class="imgMainDetails" [src]="imageMain" onError="this.src='assets/img/course_img_not_avilable.png';"/>

    <div class="pageTitle" style="font-weight: bold;" *ngIf="this.platform.dir() === 'rtl'">{{ allData.name_ar }}</div>
    <div class="pageTitle" style="font-weight: bold;" *ngIf="this.platform.dir() === 'ltr'">{{ allData.name_en }}</div>
    
    <div class="cate_display_name">
      {{ category_display_name_en }}
    </div>
    
    <!-- <div class="pageTitleDate"> {{ allData.start_date | date : "dd MMM y" }} </div> -->
    
    <!-- <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-calendar'></ion-icon>
           <div style="color: #555555;">{{ allData.start_date | date : "dd MMM y" }} |  {{ allData.end_date | date : "dd MMM y" }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-globe'></ion-icon>
          <div style="color: #555555;">{{ allData.location }}</div>
        </button>
      </ion-col>
      <ion-col *ngIf="allData.level">
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='md-stats'></ion-icon>
          <div style="color: #555555;">{{ allData.level }}</div>
        </button>
      </ion-col>
    </ion-row> -->


    <div class="classCol">
      <div class="classRow">
        <div>
          <!-- <ion-icon color="blue" name="md-map">   {{ allData.location }}   </ion-icon> -->
        </div>
      </div>
    </div>
    <div class="titleDiv"  dir="{{direc}}">

        

      <span *ngIf="this.platform.dir() === 'rtl'" class="des" style="border: 0px;" [innerHTML]="allData.description_ar"> {{ allData.description_ar }}</span>
      <span *ngIf="this.platform.dir() === 'ltr'" class="des" style="border: 0px;" [innerHTML]="allData.description_en"> {{ allData.description_en }}</span>
    </div>

    <!-- Books Show -->
    <div class="pageTitle" *ngIf="lib_books?.length > 0">
        {{ 'BOOKS_LIST' | translate:param }}
    </div>
    <div *ngFor="let item of lib_books; let i = index" center>
      <ion-card *ngIf="allData.type === 'Books'" (tap)="openBook(item.url,item.name_en)">
        <div>
          <img class="imgMainDetails" [src]="item.img" onError="this.src='assets/img/course_img_not_avilable.png';"/>
        </div>

        <ion-card-content>
          <ion-card-title *ngIf="this.platform.dir() === 'rtl'">
              {{ item.name_ar }}
          </ion-card-title>
          <ion-card-title *ngIf="this.platform.dir() === 'ltr'">
              {{ item.name_en }}
          </ion-card-title>

        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button *ngIf="item.isbn" ion-button clear small color="danger" icon-start>
              <ion-icon name='ios-book'></ion-icon>
              <div style="color: #555555;">{{ item.isbn }}</div>
            </button>
          </ion-col>
        </ion-row> 
        <ion-row no-padding>
          <ion-col>
            <button *ngIf="item.publish_date" ion-button clear small color="danger" icon-start>
              <ion-icon name='md-calendar'></ion-icon>
              <!-- <div style="color: #555555;">{{ item.publish_date | date : "dd MMM y" }}</div> -->
              <div style="color: #555555;">{{ item.publish_date }}</div>
            </button>
          </ion-col>
          <ion-col *ngIf="item.author" text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='md-person'></ion-icon>
              <div style="color: #555555;">{{ item.author }}</div>
            </button>
          </ion-col>

        </ion-row>
    
      </ion-card>
    </div>





    <!-- Videos Show -->
    <div class="pageTitle" *ngIf="lib_videos?.length > 0">
        {{ 'VIDEOS_LIST' | translate:param }}
    </div>
    <div *ngFor="let item of lib_videos; let i = index" center>
      <ion-card *ngIf="allData.type === 'Videos'" (tap)="openVideo(item.url,item.name_en)">
        <div>
          <img class="imgMainDetails" [src]="getYoutubeImage(item.url)" onError="this.src='assets/img/course_img_not_avilable.png';"/>
        </div>

        <ion-card-content>
          <ion-card-title *ngIf="this.platform.dir() === 'rtl'">
              {{ item.name_ar }}
          </ion-card-title>
          <ion-card-title *ngIf="this.platform.dir() === 'ltr'">
              {{ item.name_en }}
          </ion-card-title>

        </ion-card-content>
    
      </ion-card>
    </div>



    <!-- Gallery Code -->
   

    <!-- <ion-segment [(ngModel)]="galleryType" color="primary">
      <ion-segment-button value="regular">
        Regular
      </ion-segment-button>
      <ion-segment-button value="pinterest">
        Pinterest
      </ion-segment-button>
    </ion-segment> -->
    
    <!-- <div [ngSwitch]="galleryType"> -->
      <!-- Responsive Layout with Ion Grid-->
      <!-- <ion-grid *ngSwitchCase="'regular'">
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of [1,2,3,4]">
            <div class="image-container" [style.background-image]="'url(assets/img/brand/brand_img' + image + '.png)'"></div>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- More Pinterest floating gallery style -->
      <div class="pageTitle" *ngIf="allData.gallery?.length > 0">
          {{ 'COURSE_GALLERY' | translate:param }}
      </div>
      <div class="images" padding>
        <div class="one-image" *ngFor="let image of allData.gallery">
          <!-- <img src="assets/img/brand/brand_img{{image}}.png"> -->
          <img [src]="image.url.thumb">
        </div>
      </div>
    
      <!-- More Pinterest floating gallery style -->
    
    <!-- </div> -->
    
</ion-content>
