<ion-header class="header" dir="{{direc}}" no-border>
    
  <ion-navbar color="darkprimary">
    <ion-buttons right>
      <span *ngIf="this.platform.dir() === 'ltr' && this.mainFunc.manuno8 == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  
    <button ion-button icon-only (tap)="dismissview()">
      <ion-icon *ngIf="this.platform.dir() === 'rtl'" name="ios-arrow-back"></ion-icon>
      <ion-icon *ngIf="this.platform.dir() === 'ltr'" name="ios-arrow-forward"></ion-icon>
    </button>
         <!-- <button ion-button (tap)="showSearchBar()">
        <ion-icon name="search"></ion-icon>
    </button> -->
  </ion-buttons>

  <ion-buttons style="display: flex; direction: row;" left>
    
    <button ion-button icon-only>
      <ion-badge color="danger" *ngIf="mainFunc.getCartItemsNumber()" item-end>{{mainFunc.getCartItemsNumber()}}</ion-badge>
      <ion-icon *ngIf="this.mainFunc.manuno8 == false" name="md-cart"></ion-icon>
    </button>
   
    <span *ngIf="this.platform.dir() === 'rtl' && this.mainFunc.manuno8 == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </ion-buttons>
    <ion-title text-center></ion-title>
    
    <!-- {{ 'USED_TITLE_MESSAGES_MAIN' | translate:param }} -->
        <!-- <div>&nbsp;&nbsp;&nbsp;</div> -->
      
    
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card>

    <ion-card-header>
      <div [innerHtml]="message"></div>
    </ion-card-header>
  
  </ion-card>

</ion-content>
