<ion-header class="header" dir="{{direc}}" no-border>
    
  <ion-navbar color="darkprimary">
    <ion-buttons end>
        <span *ngIf="this.platform.dir() === 'ltr' && this.mainFunc.manuno8 == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  
      <button ion-button icon-only (tap)="dismissview()">
        <ion-icon *ngIf="this.platform.dir() === 'rtl'" name="ios-arrow-back"></ion-icon>
        <ion-icon *ngIf="this.platform.dir() === 'ltr'" name="ios-arrow-forward"></ion-icon>
      </button>
          
    </ion-buttons>
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons style="display: flex; direction: row;" start>
      
      <button ion-button icon-only>
        <ion-badge color="danger" *ngIf="mainFunc.getCartItemsNumber()" item-end>{{mainFunc.getCartItemsNumber()}}</ion-badge>
        <ion-icon name="md-cart" *ngIf="this.mainFunc.manuno8 == false"></ion-icon>
      </button>
      <span *ngIf="this.platform.dir() === 'rtl' && this.mainFunc.manuno8 == false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </ion-buttons>
    <ion-title text-center>{{ 'USED_TITLE_FAV' | translate:param }}</ion-title>
    
        <!-- <div>&nbsp;&nbsp;&nbsp;</div> -->
      
    
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
  