<ion-header class="header" dir="{{direc}}" no-border>
    
  <ion-navbar color="darkprimary">
    <ion-buttons style="display: flex; direction: row;" end>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{ name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


<div class="centerTitles bg10">
  <div class="iconDiv">
    <img class="iconTitle" src="{{ icon }}">
  </div>
  <div class="titleDiv" dir="{{this.platform.dir()}}">
    Brand : {{ name }}
  </div>
  <div class="titleDiv" dir="{{this.platform.dir()}}">
    Origin : {{ origin }}
  </div>
</div>
<div class="titleDiv bg9" dir="{{this.platform.dir()}}">
    Stores List
  </div>
<div class="wrapper">
  <div  *ngFor="let item of storelist; let i = index">
    <div class="box">
      <div class="box2">
        <div class="subTable1stDiv">
          <img [src]="item.icon">
        </div>
        <div class="centerVertical">
            <div class="fontNormal maxsize">{{item.name}}</div>
        </div>
        <!-- <div class="maxSubMap">
          
        </div>
        <div class="maxSubDates">
          
        </div> -->
      </div>
    </div>
  </div>
</div>


<!-- <ion-infinite-scroll *ngIf="hasMoreitems" (ionInfinite)="$event.waitFor(doInfinite())">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->


</ion-content>
    