<ion-header class="header" dir="{{direc}}" no-border>
    
  <ion-navbar color="darkprimary">
    <ion-buttons style="display: flex; direction: row;" end>
      <button ion-button menuToggle>
          <!-- <ion-icon name="menu"></ion-icon> -->
      <img src="assets/img/avatar.png" class="avatar-menu-icon">
      </button>
    </ion-buttons>
    <ion-title text-center>{{ 'BRANDS_TITLE' | translate:param }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="wrapper">
    <div  *ngFor="let item of storelist; let i = index">
      <div class="box" (tap)="openBrandStores(item.id,item.name_en)">
        <div class="box2">
          <div class="subTable1stDiv">
            <img [src]="item.icon">
          </div>
          <div class="centerVertical">
              <div class="fontNormal maxsize">{{item.name_en}}</div>
          </div>
          <!-- <div class="maxSubMap">
            
          </div>
          <div class="maxSubDates">
            
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="footerz" *ngIf="!storelist?.length > 0 && !isDataAvilable">
    <ion-spinner></ion-spinner>
  </div>
    
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <ion-infinite-scroll *ngIf="hasMoreitems" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
