page-search-result {

    ion-content {
        // background-color: #ffffff!important;
    }
    
    .toolbars {
        background-color: color($colors,fontLight);
        height: 28px;
    }
    .toolBar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        .toolSorting{
            align-self: center;
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            p {
                color: color($colors, darkprimary);
            }
            img {
                width: 22px;
                height: 22px;
            }
        }
        .toolShowType{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            p {
                color: color($colors, darkprimary);
            }
            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    ion-row {
        align-items: center;
    }
    
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }




    .slideScrolls {
        // display: flex;
        // flex-direction: row;
        // direction: rtl;
        padding-top: 5px;
        padding-bottom: 10px;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(auto-fill, minmax(47%,1fr)) !important;
        // background-color: color($colors, MainGrayLevel_4);
        
        padding-right: 4px;
        padding-left: 4px;
        .itemScroll {
            // width: 158px;
            
            min-width: 97%;
            border: 0px solid !important;
            border-color: color($colors,borderColor) !important;
            background-color: color($colors,fontWhite);
            padding: 5px;
            margin-right: 2px;
            margin-left: 2px;
            margin-bottom: 5px;
            
            .itemScrollImage{
                display: flex;
                max-height: 150px;
                max-width: 100%;
                justify-content: center;
                img {
                    padding-top: 10px;
                    max-height: 100px;
                }
            }
            .itemScrollName {
                font-size: 1.1em;
                text-align: center;
                padding-top: 6px;
                min-height: 2em;
                max-height: 5em;
            }
            .itemScrollPrice {
                padding-top: 3px;
                font-size: 0.9em;
                font-weight: normal;
                color: color($colors, dark);
            }
            .itemScrollPriceafter {
                padding-top: 3px;
                font-size: 1.05em;
                font-weight: bold;
                color: color($colors, dark);
            }
            .itemScrollFavBuy {
                padding-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .itemScrollFav {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .starItem {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        align-self: center;
                        // width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuy {
                    max-width: 50%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuyStock {
                    max-width: 50%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        // width: 90px;
                        height: 28px;
                    }
                }
            }
        }
    }


    .slideScrollsListProduct {
        // display: flex;
        // flex-direction: row;
        // direction: rtl;
        padding-top: 5px;
        padding-bottom: 10px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(98%,1fr))!important;
        // background-color: color($colors, MainGrayLevel_4);

        padding-right: 1px;
        padding-left: 1px;
        .itemScrollList {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            min-width: 99%;
            border: 1px solid;
            border-color: color($colors,borderColor);
            background-color: color($colors,fontWhite);
            padding: 5px;
            margin-right: 2px;
            margin-left: 2px;

            
            .itemScrollImageList{
                display: flex;
                // max-height: 200px;
                // max-width: 300px;
                min-width: 90px;
                max-width: 90px;
                max-height: 80px;
                // min-height: 80px;
                // justify-content: center;
                img {
                    align-self: flex-start;
                    width: 100%!important;
                    object-fit: contain;
                    padding-bottom: 5px;
                    // height: auto;
                }
            }
            .itemScrollNameList {
                font-size: 1.2em;
                padding-top: 10px;
                padding-right: 6px;
                padding-left: 6px;
                min-height: 3em;
                max-height: 4.5em;
            }
            .itemScrollPriceList {
                padding-top: 3px;
                font-size: 1.05em;
                padding-right: 6px;
                font-weight: normal;
                color: color($colors, danger);
            }
            .itemScrollPriceListafter {
                padding-top: 3px;
                font-size: 1.05em;
                padding-right: 6px;
                font-weight: bold;
                color: color($colors, dark);
            }
            .itemScrollFavBuyList {
                // align-self: flex-end;
                min-width: 100%;
                padding-top: 1.1em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .itemScrollFavList {
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                // .starItemList {
                //     // width: 25%;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;

                //     img {
                //         align-self: left;
                //         // width: 22px;
                //         height: 22px;
                //     }
                // }
                .itemScrollBuyList {
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuyStockList {
                    // max-width: 50%;
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        // width: 90px;
                        height: 28px;
                    }
                }
            }
        }
    }
    .class1 {
        display: flex;
        flex-direction: row;
    }
    .class2 {
        display: flex;
        flex-direction: column;
    }

    .discountSign {
        color: color($colors, dark) !important;
        text-decoration: line-through;
    }

    .rowDiv {
        display: flex;
        flex-direction: row;
    }

    .footerz {
        display: flex;
        flex-direction: row;
        // height: 40px;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-self: center;
        align-items: center;
        // color: white;
        margin-top: 60px;
        padding-bottom: 5px;
        font-size: 1.6em;
        // background-color: #fff;//color($colors, darkprimary);
        color: #000 !important;

        img {
            max-width: 240px;
        }
      }

      .imgMainDetails {

        max-height: 160px;
        min-width: 100%;
        object-fit: cover;
    }
    

    .slideScrollsUsed {
        // display: flex;
        // flex-direction: row;
        // direction: rtl;
        padding-top: 5px;
        padding-bottom: 10px;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(auto-fill, minmax(47%,1fr)) !important;
        // background-color: color($colors, MainGrayLevel_4);
        
        padding-right: 4px;
        padding-left: 4px;
        
        .itemScroll {
            // width: 158px;
            
            min-width: 97%;
            border: 0px solid !important;
            border-color: color($colors,borderColor) !important;
            background-color: color($colors,fontWhite);
            padding: 5px;
            margin-right: 2px;
            margin-left: 2px;
            margin-bottom: 5px;
            
            .itemScrollImage{
                display: flex;
                max-height: 150px;
                max-width: 100%;
                justify-content: center;
                img {
                    padding-top: 10px;
                    max-height: 100px;
                }
            }
            .itemScrollName {
                font-size: 1.1em;
                text-align: center;
                padding-top: 6px;
                min-height: 2em;
                max-height: 5em;
            }
            .itemScrollPrice {
                padding-top: 3px;
                font-size: 0.9em;
                font-weight: normal;
                color: color($colors, dark);
            }
            .itemScrollPriceafter {
                padding-top: 3px;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 1.05em;
                font-weight: bold;
                color: color($colors, dark);
            }
            .itemScrollFavBuy {
                padding-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .itemScrollFav {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .starItem {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        align-self: center;
                        // width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuy {
                    max-width: 50%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuyStock {
                    max-width: 50%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        // width: 90px;
                        height: 28px;
                    }
                }
            }
        }
    }


    .slideScrollsUsedList {
        // display: flex;
        // flex-direction: row;
        // direction: rtl;
        padding-top: 5px;
        padding-bottom: 10px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(98%,1fr))!important;
        // background-color: color($colors, MainGrayLevel_4);

        padding-right: 1px;
        padding-left: 1px;
        .itemScrollList {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            min-width: 99%;
            border: 1px solid;
            border-color: color($colors,borderColor);
            background-color: color($colors,fontWhite);
            padding: 5px;
            margin-right: 2px;
            margin-left: 2px;

            
            .itemScrollImageList{
                display: flex;
                // max-height: 200px;
                // max-width: 300px;
                min-width: 90px;
                max-width: 90px;
                max-height: 80px;
                // min-height: 80px;
                // justify-content: center;
                img {
                    align-self: flex-start;
                    width: 100%!important;
                    object-fit: contain;
                    padding-bottom: 5px;
                    // height: auto;
                }
            }
            .itemScrollNameList {
                font-size: 1.2em;
                padding-top: 10px;
                padding-right: 6px;
                padding-left: 6px;
                min-height: 3em;
                max-height: 4.5em;
            }
            .itemScrollPriceList {
                padding-top: 3px;
                font-size: 1.05em;
                padding-right: 6px;
                font-weight: normal;
                color: color($colors, danger);
            }
            .itemScrollPriceListafter {
                padding-top: 3px;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 1.05em;
                padding-right: 6px;
                font-weight: bold;
                color: color($colors, dark);
            }
            .itemScrollFavBuyList {
                // align-self: flex-end;
                min-width: 100%;
                padding-top: 1.1em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .itemScrollFavList {
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                // .starItemList {
                //     // width: 25%;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;

                //     img {
                //         align-self: left;
                //         // width: 22px;
                //         height: 22px;
                //     }
                // }
                .itemScrollBuyList {
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        width: 22px;
                        height: 22px;
                    }
                }
                .itemScrollBuyStockList {
                    // max-width: 50%;
                    min-width: 50%!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        align-self: center;
                        // width: 90px;
                        height: 28px;
                    }
                }
            }
        }
    }

    .city_div {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 1.0em;
        align-content: center;
        align-items: center;
        
        ion-icon {
            color: red;
            padding-left: 5px;
            padding-right: 5px;
        }
        .city_name {
            color: #555;
        }
      }
      
    @media screen and (min-width: 720px) {

        


        .slideScrolls {
            // display: flex;
            // flex-direction: row;
            // direction: rtl;
            padding-top: 0px;
            // margin-top: -12px;
            // padding-bottom: 10px;
            display: grid;
            // grid-gap: 5px;
            grid-template-columns: repeat(auto-fill, minmax(32%,1fr)) !important;
            // background-color: color($colors, MainGrayLevel_4);

        }
        .itemScroll {
            
            width: 100%;
            min-width: 99%!important;
        }

        .itemScrolls {
            // margin-top: 25px;
        }
        .itemScroll {
            // width: 48%;
            // min-width: 48%;
        }
       

        .slideScrollsList {
            // display: flex;
            // flex-direction: row;
            // direction: rtl;
            padding-top: 0px;
            // margin-top: -12px;
            // padding-bottom: 10px;
            display: grid;
            // grid-gap: 5px;
            grid-template-columns: repeat(auto-fill, minmax(40%,1fr)) !important;
            // background-color: color($colors, MainGrayLevel_4);

        }
        .itemScrollList {
            
            width: 100%;
            min-width: 99%!important;
        }

        
        .slideScrolls {
            grid-template-columns: repeat(auto-fill, minmax(48%,1fr));
            // grid-column: auto / span 3;
        }

    }


    //     .slideScrolls {
    //         // display: flex;
    //         // flex-direction: row;
    //         // direction: rtl;
    //         padding-top: 0px;
    //         // margin-top: -12px;
    //         // padding-bottom: 10px;
    //         display: grid;
    //         // grid-gap: 5px;
    //         grid-template-columns: repeat(auto-fill, minmax(24%,1fr)) !important;
    //         // background-color: color($colors, MainGrayLevel_4);

    //     }
    //     .itemScroll {
            
    //         width: 100%;
    //         min-width: 99%!important;
    //     }

    //     .itemScrolls {
    //         // margin-top: 25px;
    //     }
    //     .itemScroll {
    //         // width: 48%;
    //         // min-width: 48%;
    //     }

    //     .slideScrollsList {
    //         // display: flex;
    //         // flex-direction: row;
    //         // direction: rtl;
    //         padding-top: 0px;
    //         // margin-top: -12px;
    //         // padding-bottom: 10px;
    //         display: list-item;
    //         // grid-gap: 5px;
    //         grid-template-columns: repeat(auto-fill, minmax(100%,1fr)) !important;
    //         // background-color: color($colors, MainGrayLevel_4);

    //     }
    //     .itemScrollList {
            
    //         width: 98%;
    //         min-width: 98%!important;
    //     }

    //     .slideScrolls {
    //         grid-template-columns: repeat(auto-fill, minmax(48%,1fr));
    //         // grid-column: auto / span 3;
    //     }

    // }



    @media screen and (min-width: 1280px) {

        .slideScrolls {
            // display: flex;
            // flex-direction: row;
            // direction: rtl;
            padding-top: 0px;
            // margin-top: -12px;
            // padding-bottom: 10px;
            display: grid;
            // grid-gap: 5px;
            grid-template-columns: repeat(auto-fill, minmax(16%,1fr)) !important;
            // background-color: color($colors, MainGrayLevel_4);

        }
        .itemScroll {
            
            width: 100%;
            min-width: 99%!important;
        }

        .itemScrolls {
            // margin-top: 25px;
        }
        .itemScroll {
            // width: 48%;
            // min-width: 48%;
        }
       

        .slideScrollsList {
            // display: flex;
            // flex-direction: row;
            // direction: rtl;
            padding-top: 0px;
            // margin-top: -12px;
            // padding-bottom: 10px;
            display: grid;
            // grid-gap: 5px;
            grid-template-columns: repeat(auto-fill, minmax(20%,1fr)) !important;
            // background-color: color($colors, MainGrayLevel_4);

        }
        .itemScrollList {
            
            width: 100%;
            min-width: 99%!important;
        }

        
        .slideScrolls {
            grid-template-columns: repeat(auto-fill, minmax(48%,1fr));
            // grid-column: auto / span 3;
        }

    }

}
